<h1 class="heading-large">Your request has been submitted</h1>
<p>Your ticket has been created with the id #<%= @ticket['ticket']['id'] %></p>
<p>Our support team will be in touch as soon as possible.</p>
