$toolkit-font-stack: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
$toolkit-font-stack-tabular: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

@import "govuk-elements";

#logo {
  visibility: hidden;
}

.field_with_errors {
  input,textarea {
    border: 4px solid $error-colour;
  }
  label {
    color: $error-colour;
  }
}

.form-error {
    color: $error-colour;
    margin-bottom: 5px;
}

.form-control { 
  &.certificate,&.keystore {
    width: 100%;
    font-family: monospace;
  }
  &.certificate {
    min-height: 12em;
  }
}


pre, code {
  background-color: $highlight-colour;
  font-size: 13px;
  line-height: 19px;
  color: $black;
  border: 1px solid $border-colour;
  padding: 3px 7px;
}